{include file="public/_meta" /}
<!--<link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all">-->
<link href="__STATIC__/umeditor/umeditor1_2_2-utf8-php/themes/default/css/umeditor.css" type="text/css" rel="stylesheet"><!--UMeditor css部分-->
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-page-header" >
        <div class="pagewrap">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">设计团队</a>
                <a href="javascript:;"><cite>团队成员列表</cite></a>
            </span>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-header">编辑团队成员</div>
            <div class="layui-card-body">

                <form class="layui-form" lay-filter="layui_form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
                    <div class="layui-form-item">
                        <label class="layui-form-label">成员名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="member_name" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">等级</label>
                        <div class="layui-input-block">
                            <select name="level_id" lay-filter="level_id" lay-verify="required">
                                <option value="">请选择…</option>
                                {volist name="memberLevelList" id="vo"}
                                <option value="{$vo.level_id}">{$vo.level_name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">成员简介</label>
                        <div class="layui-input-block">
                            <textarea name="abstract" placeholder="请输入内容，限200字符" class="layui-textarea" maxlength="200" lay-verify="required"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">头像</label>
                        <button type="button" class="layui-btn" id="avatar">
                            <i class="layui-icon">&#xe67c;</i>上传图片
                        </button>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">联系电话</label>
                        <div class="layui-input-block">
                            <input type="text" name="phone" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required|phone">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">设计优势</label>
                        <div class="layui-input-block">
                            <input type="text" name="advantage" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">设计作品</label>
                        <div class="layui-input-block">
                            <input type="text" name="production" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">成员介绍</label>
                        <div class="layui-input-block">
                            <!-- UMeditor 加载编辑器的容器 -->
                            <script type="text/plain" id="container" name="description" class="layui-textarea" style="height: 240px;"></script>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                            <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                        </div>
                    </div>
                    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
                </form>

            </div>
        </div>
    </div>
</div>

<!--<script src="__STATIC__/layui/layui.js"></script>-->
{include file="public/_footer" /}

<!--UMeditor js部分 s-->
<script type="text/javascript" src="__STATIC__/umeditor/umeditor1_2_2-utf8-php/third-party/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/umeditor/umeditor1_2_2-utf8-php/umeditor.config.js"></script><!-- 配置文件 -->
<script type="text/javascript" charset="utf-8" src="__STATIC__/umeditor/umeditor1_2_2-utf8-php/umeditor.min.js"></script><!-- 编辑器源码文件 -->
<script type="text/javascript" src="__STATIC__/umeditor/umeditor1_2_2-utf8-php/lang/zh-cn/zh-cn.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    // 实例化编辑器
    var um = UM.getEditor('container');
</script>
<!--UMeditor js部分 e-->

<script>
    // 声明全局变量
    var avatar; // 声明头像路径变量

    /**
     * 表单模块 - layui.form
     */
    layui.use('form', function(){
        var form = layui.form;

        // 给表单赋值
        /*ajax GET请求 s*/
        $.ajax({
            url: '{:url("admin/member/read")}',
            type: 'get',
            data: {id: '{$_GET["id"]}'}, // {$_GET["id"]} 为 admin/member 控制器 edit($id) 方法的 $id 参数值
            dataType: 'json',
            success: function (data, textStatus, jqXHR) {

                // 给表单赋值
                form.val("layui_form", { //layui_form 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                    "member_name": data.data.member_name // "name": "value"
                    ,"level_id": data.data.level_id
                    ,"abstract": data.data.abstract
                    ,"phone": data.data.phone
                    ,"advantage": data.data.advantage
                    ,"production": data.data.production
                });

                // 显示文章缩略图avatar并赋值
                $('#avatar').after(' <img src="/' + data.data.avatar + '" alt="' + data.data.avatar + '" title="' + data.data.avatar + '" class="layui-upload-img" width="200">');
                avatar = data.data.avatar;

                // 给成员介绍description赋值
                $('#container').html(data.data.description);

            }
        });
        /*ajax GET请求 e*/

        // 监听submit提交
        form.on('submit(*)', function(data){
            //layer.msg(JSON.stringify(data.field));

            // 判断头像是否已上传
            if(!avatar) {
                layer.msg('请上传头像', {icon: 7});
                return false;
            }
            data.field.avatar = avatar; // 对 avatar 字段赋值
            data.field.description = $('#container').html(); // 对 description 字段赋值
            //console.log(data.field); // 对 avatar 字段赋值后，测试是否赋值成功

            /*ajax请求 s*/
            // TODO：在 /public/static/ 目录下新建 common.js 文件，封装公用 ajax 方法
            var _data = data.field;
            var url = "{:url('admin/member/update', array('id' => $_GET['id']))}";
            ajaxRequest(url, 'post', _data);
            /*ajax请求 e*/

            return false; // 阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });

    /**
     * 图片/文件上传 - layui.upload
     */
    layui.use('upload', function(){
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#avatar' //绑定元素
            ,url: '{:url("admin/upload/uploadThumb")}' //上传接口
            ,data: {name: "avatar", dir: "member"}
            ,field: 'avatar' // 设定文件域的字段名
            ,done: function(res){
                //上传完毕回调
                avatar = res.data; // 获取头像路径值
                //console.log(avatar);
                if (avatar) {
                    //$('#avatar').hide();
                    $('#avatar').next().remove('img');
                    $('#avatar').after(' <img src="/' + avatar + '" alt="" title="' + avatar + '" class="layui-upload-img" width="200">');
                }
            }
            ,error: function(){
                //请求异常回调
            }
        });
    });
</script>
</body>
</html>