{include file="public/_meta" /}
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-page-header layui-hide" >
        <div class="pagewrap">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">设计团队</a>
                <a><cite>团队成员</cite></a>
            </span>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-header">团队成员列表</div>
            <div class="layui-card-body">
                <!--templet - 自定义列模板 s-->
                <script type="text/html" id="toolbar">
                    <div class="form-box">
                        <div class="layui-form layui-form-item">
                            <div class="layui-inline">
                                <button class="layui-btn layui-btn-blue"  onclick="location.href='{:url("admin/member/create")}'" ><i class="layui-icon">&#xe654;</i>新增</button>
                            </div>
                            <div class="layui-inline">
                                <div class="layui-form-mid">成员名称</div>
                                <div class="layui-input-inline" style="width: 100px;">
                                    <input type="text" name="member_name" value="" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid">等级</div>
                                <div class="layui-input-inline" style="width: 100px;">
                                    <input type="text" name="level_name" value="" autocomplete="off" class="layui-input">
                                </div>
                                <button class="layui-btn layui-btn-blue" onclick="layuiTable()">查询</button>
                                <!--<button class="layui-btn layui-btn-primary">重置</button>-->
                            </div>
                        </div>
                    </div>
                </script>
                <!--templet - 自定义列模板 e-->
                <table class="layui-hide" id="layui_table" lay-filter="lay_filter_table"></table>
            </div>
        </div>
    </div>
</div>

<!--<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="__STATIC__/layui/layui.all.js"></script>
<script src="__STATIC__/common/js/common.js"></script>-->
{include file="public/_footer" /}
<script>

    // 页面加载时执行
    layuiTable();

    /**
     * layui.table 数据表格：初始化渲染方式为方法渲染
     */
    function layuiTable() {
        layui.use('table', function () {

            var table = layui.table;

            // 方法级渲染
            table.render({
                elem: '#layui_table'
                , cols: [[ //表头
                    {field: 'member_id', title: 'ID', width: 80, sort: true, fixed: 'left'}
                    , {field: 'member_name', title: '成员名称', cellMinWidth: 120}
                    , {field: 'avatar', title: '头像', width: 120, templet: '<div><img src="/{{d.avatar}}" alt="{{d.avatar}}" title="{{d.avatar}}" width="200"></div>'}
                    , {field: 'level_name', title: '等级', width: 120}
                    , {field: 'status_msg', title: '状态', width: 100, templet: '#statusTpl'}
                    , {field: 'create_time', title: '创建时间', width: 120}
                    , {field: 'update_time', title: '更新时间', width: 120}
                    , {title: '操作', fixed: 'right', width: 120, align: 'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
                ]]
                , url: '{:url("admin/member/getMember")}' //数据接口
                //,method: 'get' // 接口http请求类型，默认：get
                ,where: {member_name: $('input[name="member_name"]').val(), level_name: $('input[name="level_name"]').val()} // 接口的其它参数，此处为搜索条件
                //,contentType: 'application/x-www-form-urlencoded'
                , parseData: function (res) { //res 即为原始返回的数据
                    return {
                        "code": res.status, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.data.total, //解析数据长度
                        "data": res.data.data //解析数据列表
                    };
                }
                , request: { // 用于对分页请求的参数：page、limit重新设定名称
                    //pageName: 'curr' //页码的参数名称，默认：page
                    limitName: 'size' //每页数据量的参数名，默认：limit
                }
                , response: { // 自定义数据响应名称
                    //statusName: 'status' //规定数据状态的字段名称，默认：code
                    statusCode: 1 //规定成功的状态码，默认：0
                    //,msgName: 'hint' //规定状态信息的字段名称，默认：msg
                    //,countName: 'total' //规定数据总数的字段名称，默认：count
                    //,dataName: 'rows' //规定数据列表的字段名称，默认：data
                }
                //, id: 'layui_table'
                , toolbar: '#toolbar' //'<div>权限规则列表</div>'
                //,height: 312 // 设定容器高度
                ,page: true //开启分页
                /*,page: {
                    limit: 5
                }*/
            });

            // 监听工具条
            table.on('tool(lay_filter_table)', function(obj){ //注：tool 是工具条事件名，lay_filter_table 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

                if(layEvent === 'detail'){ //查看
                    //do somehing
                } else if(layEvent === 'del'){ //删除
                    layer.confirm('真的删除行么', function(index){
                        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                        layer.close(index);
                        //向服务端发送删除指令
                        ajaxRequest('{:url("admin/member/delete")}', 'delete', {id: data.member_id}); // ajax请求
                    });
                } else if(layEvent === 'edit'){ //编辑
                    //do something
                    layer.open({
                        type: 2,
                        title: '编辑',
                        //skin: 'layui-layer-rim', //加上边框
                        area: ['90%', '90%'], //宽高
                        content: '{:url("admin/member/edit")}?id=' + data.member_id,
                        maxmin: true
                    });

                    //同步更新缓存对应的值
                    /*obj.update({
                        member_name: '123'
                        ,level_name: 'xxx'
                    });*/
                } else if(layEvent === 'LAYTABLE_TIPS'){
                    layer.alert('Hi，头部工具栏扩展的右侧图标。');
                } else if(layEvent === 'updateStatus'){ // 更新状态
                    //console.log('ID', data.member_id);
                    //console.log('status 1', data.status);

                    // 重新给 状态status 赋值
                    data.status = data.status == 1 ? 0 : 1;

                    //同步更新缓存对应的值
                    obj.update({
                        status: data.status // 状态
                    });

                    // 更新DOM节点属性
                    if (0 == data.status) {
                        //console.log('status 20', data.status);
                        $('input[name="status"][id="status' + data.member_id + '"]').attr({'value': 0, 'checked': false});
                    } else {
                        //console.log('status 21', data.status);
                        $('input[name="status"][id="status' + data.member_id + '"]').attr({'value': 1, 'checked': true});
                    }

                    // 向服务端发送更新指令：ajax请求
                    changeTableVal('member', 'member_id', data.member_id, 'status', data.status, this);
                }
            });

            // 表格重载（与 table.render 的 where 参数二选一）
            /*table.reload('layui_table', {
                where: { //设定异步数据接口的额外参数，任意设
                    name: $('input[name="name"]').val() //'admin/Index/index'
                    , title: $('input[name="member_name"]').val()
                    //…
                }
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            }); //只重载数据*/

        });
    }

</script>

<!--toolbar - 绑定工具条模板，它可以存放在页面的任意位置 s-->
<script type="text/html" id="barDemo">
    <!--<a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>--><!--注意：属性 lay-event="" 是模板的关键所在，值可随意定义。-->
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!--toolbar - 绑定工具条模板 e-->

<!--templet - 自定义列模板 s-->
<script type="text/html" id="statusTpl">
    <!--状态 s-->
    <a lay-event="updateStatus">
        {{#  if (1 == d.status) { }}
        <input type="checkbox" name="status" checked value="{{d.status}}" id="status{{d.member_id}}" lay-skin="switch" lay-text="启用|停用">
        {{#  } else { }}
        <input type="checkbox" name="status" value="{{d.status}}" id="status{{d.member_id}}" lay-skin="switch" lay-text="启用|停用">
        {{#  } }}
    </a>
    <!--状态 e-->
</script>
<!--templet - 自定义列模板 e-->

</body>
</html>