<div class="layui-header custom-header">
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item slide-sidebar" lay-unselect>
            <a href="javascript:;" title="侧边伸缩" class="icon-font"><i class="ai ai-menufold"></i></a>
        </li>
        <li class="layui-nav-item"><a href="">控制台</a></li>
    </ul>

    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                {$session_admin.admin_name}
            </a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:adminInfo();">基本资料</a></dd>
                <dd><a href="javascript:updateAdminPassword();">修改密码</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="{:url('Login/logout')}">退出</a></li>
    </ul>
</div>