{include file="public/_meta" /}
</head>
<body class="layui-view-body">

<div class="layui-content">
    <div class="layui-row layui-col-space20">
        <div class="layui-col-sm6 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-body chart-card">
                    <div class="chart-header">
                        <div class="metawrap">
                            <div class="meta">
                                <span>团队成员数</span>
                            </div>
                            <div class="total">{$memberCount}</div>
                        </div>
                    </div>
                    <div class="chart-body">
                        <div class="contentwrap">
                            <!--fsdfdsf-->
                        </div>
                    </div>
                    <div class="chart-footer">
                        <div class="field">
                            <span>日注册量</span>
                            <span>{$memberCountToday}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-body chart-card">
                    <div class="chart-header">
                        <div class="metawrap">
                            <div class="meta">
                                <span>设计作品数</span>
                            </div>
                            <div class="total">{$articleCount}</div>
                        </div>
                    </div>
                    <div class="chart-body">
                        <div class="contentwrap">
                            <!--fsdfdsf-->
                        </div>
                    </div>
                    <div class="chart-footer">
                        <div class="field">
                            <span>日新增量</span>
                            <span>{$articleCountToday}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm12 layui-col-md12" style="display: none">
            <div class="layui-card">
                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title">
                        <li class="layui-this">新增数</li>
                        <li>活跃度</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            dddd
                        </div>
                        <div class="layui-tab-item">
                            ddd
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="__STATIC__/layui/layui.all.js"></script>
<script>
    var element = layui.element;
</script>

</body>
</html>