{include file="public/_meta" /}
<!--<link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all">-->
<link href="__STATIC__/umeditor/umeditor1_2_2-utf8-php/themes/default/css/umeditor.css" type="text/css" rel="stylesheet"><!--UMeditor css部分-->
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-page-header" >
        <div class="pagewrap">
            <span class="<!--layui-breadcrumb-->">
                <a href="">首页</a> |
                <a href="">文章</a> |
                <a href="javascript:;"><cite>文章列表</cite></a>
            </span>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-header">编辑文章</div>
            <div class="layui-card-body">

                <form class="layui-form" lay-filter="layui_form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
                    <div class="layui-form-item">
                        <label class="layui-form-label">文章标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">文章作者</label>
                        <div class="layui-input-block">
                            <input type="text" name="author" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">类别</label>
                        <div class="layui-input-block">
                            <select name="cate_id" lay-filter="cate_id" lay-verify="required">
                                <option value="">请选择…</option>
                                <option value="0">顶级分类</option>
                                {volist name="articleCateTree" id="vo"}
                                <option value="{$vo.cate_id}">{$vo.cate_name}<br/></option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">关键字</label>
                        <div class="layui-input-block">
                            <input type="text" name="keywords" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">文章摘要</label>
                        <div class="layui-input-block">
                            <textarea name="article_abstract" placeholder="请输入内容，限200字符" class="layui-textarea" maxlength="200" lay-verify="required"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">文章缩略图</label>
                        <button type="button" class="layui-btn" id="thumb">
                            <i class="layui-icon">&#xe67c;</i>上传图片
                        </button>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">户型</label>
                        <div class="layui-input-block">
                            <input type="text" name="house_type" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">面积</label>
                        <div class="layui-input-block">
                            <input type="text" name="area" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">装修价格</label>
                        <div class="layui-input-block">
                            <input type="text" name="price" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">设计师</label>
                        <div class="layui-input-block">
                            <input type="text" name="designer" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">联系电话</label>
                        <div class="layui-input-block">
                            <input type="text" name="phone" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required|phone">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">文章内容</label>
                        <div class="layui-input-block">
                            <!--<textarea placeholder="请输入内容" class="layui-textarea" id="content" style="display: none;"></textarea>-->
                            <!-- UMeditor 加载编辑器的容器 -->
                            <script type="text/plain" id="container" name="content" class="layui-textarea" style="height: 240px;"></script>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                            <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                        </div>
                    </div>
                    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
                </form>

            </div>
        </div>
    </div>
</div>

<!--<script src="__STATIC__/layui/layui.js"></script>-->
{include file="public/_footer" /}

<!--UMeditor js部分 s-->
<script type="text/javascript" src="__STATIC__/umeditor/umeditor1_2_2-utf8-php/third-party/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/umeditor/umeditor1_2_2-utf8-php/umeditor.config.js"></script><!-- 配置文件 -->
<script type="text/javascript" charset="utf-8" src="__STATIC__/umeditor/umeditor1_2_2-utf8-php/umeditor.min.js"></script><!-- 编辑器源码文件 -->
<script type="text/javascript" src="__STATIC__/umeditor/umeditor1_2_2-utf8-php/lang/zh-cn/zh-cn.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    // 实例化编辑器
    var um = UM.getEditor('container');
</script>
<!--UMeditor js部分 e-->

<script>
    // 声明全局变量
    var thumb; // 声明文章缩略图路径变量

    /**
     * 表单模块 - layui.form
     */
    layui.use('form', function(){
        var form = layui.form;

        // 给表单赋值
        /*ajax GET请求 s*/
        $.ajax({
            url: '{:url("admin/article/read")}',
            type: 'get',
            data: {id: '{$_GET["id"]}'}, // {$_GET["id"]} 为 admin/article 控制器 edit($id) 方法的 $id 参数值
            dataType: 'json',
            success: function (data, textStatus, jqXHR) {

                // 给表单赋值
                form.val("layui_form", { //layui_form 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                    "title": data.data.title // "name": "value"
                    ,"author": data.data.author
                    ,"cate_id": data.data.cate_id
                    ,"keywords": data.data.keywords
                    ,"article_abstract": data.data.article_abstract
                    ,"house_type": data.data.house_type
                    ,"area": data.data.area
                    ,"price": data.data.price
                    ,"designer": data.data.designer
                    ,"phone": data.data.phone
                });

                // 显示文章缩略图thumb并赋值
                $('#thumb').after(' <img src="/' + data.data.thumb + '" alt="' + data.data.thumb + '" title="' + data.data.thumb + '" class="layui-upload-img" width="200">');
                thumb = data.data.thumb;

                // 给文章内容content赋值
                $('#container').html(data.data.content);

            }
        });
        /*ajax GET请求 e*/

        // 监听submit提交
        form.on('submit(*)', function(data){
            //layer.msg(JSON.stringify(data.field));

            // 判断文章缩略图是否已上传
            if(!thumb) {
                layer.msg('请上传文章缩略图', {icon: 7});
                return false;
            }
            data.field.thumb = thumb; // 对 thumb 字段赋值
            data.field.content = $('#container').html(); // 对 content 字段赋值
            //console.log(data.field); // 对 thumb 字段赋值后，测试是否赋值成功

            /*ajax请求 s*/
            // TODO：在 /public/static/ 目录下新建 common.js 文件，封装公用 ajax 方法
            var _data = data.field;
            var url = "{:url('admin/article/update', array('id' => $_GET['id']))}";
            ajaxRequest(url, 'post', _data);
            /*ajax请求 e*/

            return false; // 阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });

    /**
     * 图片/文件上传 - layui.upload
     */
    layui.use('upload', function(){
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#thumb' //绑定元素
            ,url: '{:url("admin/upload/upload")}' //上传接口
            ,data: {name: "thumb", dir: "article"}
            ,field: 'thumb' // 设定文件域的字段名
            ,done: function(res){
                //上传完毕回调
                thumb = res.data; // 获取文章缩略图路径值
                if (thumb) {
                    $('#thumb').hide();
                    $('#thumb').next().remove('img');
                    $('#thumb').after('<img src="/' + thumb + '" alt="" title="' + thumb + '" class="layui-upload-img" width="200">');
                }
            }
            ,error: function(){
                //请求异常回调
            }
        });
    });
</script>
</body>
</html>