{include file="public/_meta" /}
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-page-header" hidden>
        <div class="pagewrap">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">用户</a>
                <a><cite>用户组</cite></a>
            </span>
            <h2 class="title">用户组</h2>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="form-box">
                    <div class="layui-form layui-form-item">
                        <div class="layui-inline">
                            <div class="layui-form-mid">用户组名称:</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" autocomplete="off" class="layui-input">
                            </div>
                            <button class="layui-btn layui-btn-blue">查询</button>
                            <button class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                    <button class="layui-btn layui-btn-blue"><i class="layui-icon">&#xe654;</i>新增</button>
                    <table id="demo"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="__STATIC__/layui/layui.all.js"></script>
<script>
    /*layui.table 数据表格：初始化渲染方式为方法渲染 s*/
    layui.use('table', function(){
        var table = layui.table;

        // 执行渲染
        table.render({
            elem: '#demo'
            ,url: '{:url("admin/auth_group/getAuthGroup")}' //数据接口
            //,method: 'get' // 接口http请求类型，默认：get
            //,contentType: 'application/x-www-form-urlencoded'
            ,parseData: function(res){ //res 即为原始返回的数据
                //console.log(res);
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.data //解析数据列表
                };
            }
            ,response: { // 自定义数据响应名称
                //statusName: 'status' //规定数据状态的字段名称，默认：code
                statusCode: 1 //规定成功的状态码，默认：0
                //,msgName: 'hint' //规定状态信息的字段名称，默认：msg
                //,countName: 'total' //规定数据总数的字段名称，默认：count
                //,dataName: 'rows' //规定数据列表的字段名称，默认：data
            }
            //,height: 312
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left'}
                ,{field: 'title', title: '用户组名称', width: 120}
                ,{field: 'sex', title: '描述', cellMinWidth: 120}
                ,{title: '操作', fixed: 'right', width: 180, align: 'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
            ]]
        });

    });
    /*layui.table 数据表格：初始化渲染方式为方法渲染 e*/
</script>

<!--toolbar - 绑定工具条模板 s-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a><!--注意：属性 lay-event="" 是模板的关键所在，值可随意定义。-->
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}
</script>
<!--toolbar - 绑定工具条模板 e-->

</body>
</html>